<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='new project')"></head> <!-- custom title !-->
<head th:replace="fragments/head.html(customCSS='/stylesheets/placeholder.css')"></head> <!-- custom CSS !-->
<header th:replace="fragments/header.html"></header>
<body>
<main>

    <p>new project</p>

    <section>
        <form action="/createproject" method="post">
            <label for="title">Title: </label>
            <input required type="text" name="title" id="title" placeholder="Titel goes here">
            <br>
            <label for="description">Description: </label>
            <input required type="text" name="description" id="description" placeholder="Description">
            <br>
            <label for="deadline">Deadline: </label>
            <input required type="date" name="deadline" id="deadline">
            <br>
            <button type="submit">Submit</button>
        </form>
    </section>

</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>