<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Create Project', customCSS='createproject.css')"></head>
<!-- custom title + bonus css-->
<header th:replace="fragments/header.html(currentPage='new project')"></header>
<body>
<main>

    <!-- OLD -->
    <!--
    <section>
        <form class="my-form" action="/createproject" method="post">
            <section class="new-project-form">
                <div class="container">
                    <h1>Create New Project</h1>
                    <ul>
                        <li>
                            <div class="grid grid-2">
                                <input type="text" name="title" id="title" onkeyup="titleCheck()" placeholder="Project Name" required>
                            </div>
                        </li>
                        <li>
                            <textarea name="description" id="description" placeholder="Description" required></textarea>
                        </li>
                        <li>
                            <label class="startdate-label" for="startdate">Startdate: </label>
                            <br>
                            <input type="date" name="startdate" id="startdate" required>
                        </li>
                        <li>
                            <label class="deadline-label" for="deadline">Deadline: </label>
                            <br>
                            <input type="date" name="deadline" id="deadline" required>
                        </li>
                        <li>
                            <button class="btn-grid-confirm" type="submit">
                                <span class="front">CONFIRM</span>
                            </button>
                            <button class="btn-grid-reset" type="reset">
                                <span class="front">RESET</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
            <section>  users
                <section>  list of all users
                    <input type="text" id="myInput" onkeyup="filterSearch()" placeholder="search for user">
                    <ul id="myUL">
                        <div th:each="allUsers : ${allUsers}">
                            <li class="moveWorker">
                                <a href="#">
                                    <input type="hidden" name="username" th:value="${allUsers.getUsername}"
                                           disabled>
                                    <div id="username" th:text="${allUsers.getUsername}"></div>
                                    <div id="firstname" th:text="${allUsers.getFirstname}"></div>
                                    <div id="lastname" th:text="${allUsers.getLastname}"></div>
                                    <div id="role" th:text="${allUsers.getRole}"></div>
                                    <div id="salary" th:text="${allUsers.getSalary + ',-/Hour'}"></div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </section>

                <section>  Selected users for project
                    <h2>added users</h2>
                    <ul id="assignedUsers"></ul>
                </section>
            </section>
        </form>
    </section>
-->

    <!-- NEW -->
    <form class="form" action="/createproject" method="post">


        <!-- info for form -->
        <input type="text" class="title" name="title" id="title" onkeyup="titleCheck()" placeholder="Project name" required>
        <textarea class="description" name="description" id="description" placeholder="Project description"
                  required></textarea>
        <section class="startdate">
            <label class="startdate-label" for="startdate">Startdate: </label>
            <input type="date" name="startdate" id="startdate" required>
        </section>
        <section class="deadline">
            <label class="deadline-label" for="deadline">Deadline: </label>
            <input type="date" name="deadline" id="deadline" required>
        </section>

        <!-- list of all users -->
        <section class="search">
            <input type="text" id="myInput" onkeyup="filterSearch()" placeholder="Search for user">
        </section>
        <section class="users1">
            <ul id="myUL">
                <div th:each="user : ${allUsers}">
                    <li class="moveWorker">
                        <a href="#">
                            <input type="hidden" name="username" th:value="${user.getUsername}" disabled>
                            <p th:text="${user.getFirstname + ' ' + user.getLastname + ' - ' + user.getRole}"></p>
                        </a>
                    </li>
                </div>
            </ul>
        </section>

        <!-- selected users for project -->
        <section class="users2-p">
            <p>Assigned users:</p>
        </section>
        <section class="users2">
            <ul id="assignedUsers">

            </ul>
        </section>

        <!-- buttons -->
        <button class="confirm" type="submit">
            <span class="front">CONFIRM</span>
        </button>
        <button class="reset" type="reset">
            <span class="front">RESET</span>
        </button>


    </form>


</main>
<footer th:replace="fragments/footer.html"></footer>
<script th:src="@{/scripts/createproject.js}"></script>
<script th:src="@{/scripts/filtersearch.js}"></script>
<script th:src="@{/scripts/moveitem.js}"></script>
<script th:inline="javascript">let list = [[${projectTitles}]];</script> <!-- title list -->
</body>
</html>