<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Dashboard', customCSS='dashboard.css')"></head> <!-- custom title + bonus css-->
<body>
<header th:replace="fragments/header.html(currentPage='dashboard')"></header>

<main>

    <!-- ----- top ----- -->

    <section class="overview">

        <section class="users-overview">
            <h1>Employees:</h1>
            <p th:text="${users.size}"></p>
        </section>

        <section class="projects-overview">
            <h1>Projects:</h1>
            <p th:text="${list.size}"></p>
            <p> 2 [open]</p>
            <p> 5 [closed]</p>

        </section>

    <section class="create-project">
        <a href="/view/createproject">
            <button>create a project</button>
        </a>
    </section>

    <!-- ----- projects ---- -->

    <!-- NEW -->
    <section class="projects">
        <ul th:each="list : ${list}">

            <section class="card">
                <section class="title">
                    <p th:if="${list.isFinished() == true}">🟢</p>
                    <p th:if="${list.isFinished() == false}">🔴</p>
                    <h1 th:text="${list.getTitle}"></h1>
                </section>

                <section class="edited">
                    <p>🕒︎ last updated on 20-04-21</p>
                </section>
                <section class="description">
                    <p th:text="${list.getDescription}"></p>

                </section>
                <section class="status">
                    <p th:text="${list.getTasksStatus}"></p>

                </section>
                <section class="time">
                    <p th:text="${list.countdown}"></p>

                </section>


                <a class="link" th:href="@{'/view/{projectTitle}' (projectTitle = ${list.getTitle})}">details ↗</a>

            </section>

        </ul>
    </section>

</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>