<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='edit project')"></head> <!-- custom title !-->
<head th:replace="fragments/head.html(customCSS='/stylesheets/main.css')"></head> <!-- custom CSS !-->
<header th:replace="fragments/header.html"></header>
<body>
<main>


    <section class="project">
        <h1 th:text="${project.getTitle}"></h1>

        <p th:text="${project.getDescription}"></p>


            <ul th:each="project.getList : ${project.getList}">
                        <li th:text="${User.getFirstName}"></li>
                        <li th:text="${User.getLastName}"></li>
            </ul>





    </section>
    <p>edit</p>


</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>