<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='edit project')"></head> <!-- custom title !-->
<head th:replace="fragments/head.html(customCSS='/stylesheets/project.css')"></head> <!-- custom CSS !-->
<header th:replace="fragments/header.html(currentPage='edit project')"></header>
<body>
<main>

    <section class="project-container">
        <section class="img">
            <img src="../../images/placeholder.png" width="250" height="250">
        </section>

        <section class="title">
            <h1 th:text="${project.getTitle}"></h1>
        </section>

        <section class="deadline">
            <p th:text="${'start date: ' + project.getStartDateAsString}"></p>
            <p th:text="${'deadline: ' + project.getDeadlineAsString}"></p>
            <p th:text="${'days remaining: ' + project.countdown}"></p>
        </section>

        <section class="description">
            <p th:text="${project.getDescription}"></p>
        </section>

        <section class="users">
            <p>Assigned users to project:</p>
            <ul th:each="users : ${users}">
                <li th:text="${users.getUsername}"></li>
                <li th:text="${users.getFirstname}"></li>
                <li th:text="${users.getLastname}"></li>
            </ul>
        </section>

        <section class="tasks">
            <p>Tasks for our project:</p>

            <form action="/createtask" method="get">
                <button type="submit" name="projectID" th:value="${project.getID}">Create task</button>
            </form>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Desc.</th>
                    <th>Status</th>
                </tr>


                <tr th:each="task : ${tasks}">

                    <td>
                        <a th:href="@{'updatetask/{id}' (id = ${task.getID})}" th:text="${task.getID}">
                    </a>
                    </td>


                    <td th:text="${task.getTitle}"></td>
                    <td th:text="${task.getDescription}"></td>
                    <td>
                        <form action="/change_finished_status" method="post">
                            <input type="hidden" name="projectID" th:value="${project.getID}">
                            <button type="submit" name="taskID" th:value="${task.getID}"><p
                                    th:text="${task.printIsFinished()}"></p></button>
                        </form>
                    </td>
                </tr>

            </table>

        </section>
    </section>


</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>