<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head.html(currentPage='new task')"></head> <!-- custom title !-->
<head th:replace="fragments/head.html(customCSS='/stylesheets/placeholder.css')"></head> <!-- custom CSS !-->
<header th:replace="fragments/header.html(currentPage='new task')"></header>
<body>
<main>

    <p>new task</p>
    <p th:text="${projectID}"></p>
    <section>

        <form action="/createtask" method="post">

            <section> <!-- task input -->
                <label for="title">Title: </label>
                <input required type="text" name="title" id="title" placeholder="Titel goes here">
                <br>
                <label for="description">Description: </label>
                <input required type="text" name="description" id="description" placeholder="Description">
                <br>
                <label for="deadline">Deadline: </label>
                <input required type="date" name="deadline" id="deadline">
                <br>
                <button type="submit">Submit</button>
            </section>

            <section> <!-- userlist associated with project -->
                <input type="text" id="myInput" onkeyup="filterSearch()" placeholder="search for user">
                <ul id="myUL">
                    <div th:each="projectUsers : ${projectUsers}">
                        <li>
                            <a href="#">
                                <div id="username" th:text="${projectUsers.getUsername}"></div>
                                <div id="firstname" th:text="${projectUsers.getFirstname}"></div>
                                <div id="lastname" th:text="${projectUsers.getLastname}"></div>
                                <div id="role" th:text="${projectUsers.getRole}"></div>
                            </a>
                        </li>
                    </div>
                </ul>
            </section>

            <section> <!-- Selected users for task -->
                <h2>added users</h2>
                <ul id="currentTaskUsers"></ul>
            </section>

        </form>

    </section>

</main>

<footer th:replace="fragments/footer.html"></footer>
<script th:src="@{/scripts/createtask.js}"></script>
</body>
</html>