<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head.html(currentPage='New Task', customCSS='placeholder.css')"></head> <!-- custom title + bonus css-->
<header th:replace="fragments/header.html(currentPage='new task')"></header>
<body>
<main>

    <p>new task</p>
    <p th:text="${projectID}"></p>
    <section>

        <form action="/createtask" method="post" id="taskcreation">

            <section> <!-- task input -->
                <label for="title">Title: </label>
                <input required type="text" name="title" id="title" placeholder="Titel goes here">
                <br>
                <label for="description">Description: </label>
                <input required type="text" name="description" id="description" placeholder="Description">
                <br>
                <label for="time">time: </label>
                <input required type="number" name="time" id="time">
                <br>
                <label for="price">Price: </label>
                <input required type="number" name="price" id="price">
                <br>
                <input type="hidden" name="projectTitle" th:value="${projectTitle}">
                <input type="button" id="btnsubmit" onclick="haveUsersBeenAdded()" value="Submit">
            </section>

            <section> <!-- list of users associated with project -->
                <input type="text" id="myInput" onkeyup="filterSearch()" placeholder="search for user">
                <h2>Users available for task</h2>
                <ul id="myUL">
                    <div th:each="projectUsers : ${projectUsers}">
                        <li class="moveWorker">
                            <a href="#">
                                <input type="hidden" name="username" th:value="${projectUsers.getUsername}" disabled>
                                <div id="username" th:text="${projectUsers.getUsername}"></div>
                                <div id="firstname" th:text="${projectUsers.getFirstname}"></div>
                                <div id="lastname" th:text="${projectUsers.getLastname}"></div>
                                <div id="role" th:text="${projectUsers.getRole}"></div>
                                <div id="salary" th:text="${projectUsers.getSalary + ',-/Hour'}"></div>
                            </a>
                        </li>
                    </div>
                </ul>
            </section>

            <section> <!-- Selected users for task -->
                <h2>Users added to task</h2>
                <ul id="assignedUsers"></ul>
            </section>

        </form>

    </section>

</main>

<footer th:replace="fragments/footer.html"></footer>

<script th:src="@{/scripts/filtersearch.js}"></script>
<script th:src="@{/scripts/moveitem.js}"></script>
<script th:src="@{/scripts/createtask.js}"></script>

</body>
</html>