<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='edit task')"></head> <!-- custom title !-->
<head th:replace="fragments/head.html(customCSS='/stylesheets/placeholder.css')"></head> <!-- custom CSS !-->
<header th:replace="fragments/header.html(currentPage='edit task')"></header>
<body>
<main>

    <section class="title">
        <h1 th:text="${task.getTitle}"></h1>
    </section>

    <section class="description">
        <p th:text="${task.getDescription}"></p>
    </section>

    <section class="status">
        <p th:text="${'Task status: ' + task.isFinished}"></p>
    </section>

    <section class="users">
        <p>Assigned users to task:</p>
        <ul th:each="user : ${users}">
            <li th:text="${user.getUsername}"></li>
            <li th:text="${user.getFirstname}"></li>
            <li th:text="${user.getLastname}"></li>
            <li th:text="${user.getSalary + ',-/Hour'}"></li>
        </ul>
    </section>

</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>