main{
    margin-top: 25px;
}

.create-project {
    text-align: center;

}

.projects {
    margin: auto;
    max-width: 1000px;
    border-style: solid;
    border-top-style: inset;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    color: #17f817;
}

.columns {
    display: flex;
    flex: 1;
}

.project-info {
    flex: 1;
    order: 2;
    color: red;
    text-align: center;
}

.project-picture {
    left: 30px;
    width: 20%;
    color: yellow;
    order: 1;
}

.table-health {
    width: 20%;
    order: 3;
    color: black;
}

.projects li {
    display: inline-block;
    word-break: break-word;
    width: 500px;
}