<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header>
    <link rel="stylesheet" th:href="@{stylesheets/global.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <h1 th:text="${currentPage}"></h1>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Navigation</header>
        <ul>
            <li><a href="/dashboard"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="/createproject"><i class="fas fa-plus"></i> Create Project</a></li>
            <li><a href="#"><i class="fas fa-sliders-h"></i>Projects</a></li>
            <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
        </ul>
    </div>

</header>
</html>