<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header>


    <!-- breadcrumb -->
    <a href="/view/dashboard">
        <h1>dashboard</h1>
    </a>

    <a th:href="${'/view/'+ currentPage1}" th:unless="${currentPage1 == null}">
        <h1 th:text="${currentPage1}"></h1>
    </a>

    <a th:href="${'/view/'+ currentPage1 +'/' + currentPage2}" th:unless="${currentPage2 == null}">
        <h1 th:text="${currentPage2}"></h1>
    </a>
    <!-- breadcrumb -->

   <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->

    <!-- SIDEBAR
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <h1>Navigation</h1>
        <ul>
            <li><a href="/view/dashboard"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="/view/createproject"><i class="fas fa-plus"></i> Create Project</a></li>
            <li><a href="#"><i class="fas fa-sliders-h"></i>Projects</a></li>
            <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
        </ul>
    </div>
    -->

</header>
</html>